*{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



body{
    background-color: #030712;
    color: #c4b5fd;
}
h1, h2, h3 {
    color: #86198f;
}